.poster {
    border-radius: 10px;
}

.review-item {
    margin-bottom: 20px;
}

.review-body {
    font-size: 1.1rem;
    color: #ffffff;
}

.review-username {
    font-size: 0.9rem;
    color: #999999;
}

hr {
    border: 0;
    border-top: 1px solid #444;
}